h2{
    font-family: "Nunito", sans-serif;
    font-optical-sizing: 24px;
    font-weight: 700;
    font-style: normal;
    line-height: 32.74px;
    color: #6F3891;
    width: 13.13rem;
    height: 2.06rem;
    margin-top: 14.68rem;
    margin-left: 38.44rem;
  }